__pycache__/text_to_speech.cpython-311.pyc
output_*.wav
.env
output.wav
node_modules 
__pycache__/model_manager.cpython-311.pyc
__pycache__/model_manager.cpython-311.pyc
__pycache__/transcript_to_suggestions.cpython-311.pyc
